doctype html
html(lang="en")
	head
		title="Test"
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
		link(rel="stylesheet" href="primary.css")
	body
		.main
			.container
				.row
					.col
					.col-12.header
						.row
							.col
							.col-11
								h1.title WikiFinder
							.col
						.row.my-2
							.col
								a.btn.btn-light.mx-1(href="/") Home
								a.btn.btn-light.mx-1(href="/setup") Setup
								a.btn.btn-light.mx-1(href="/tos") Terms of Service and Privacy Policy
								a.btn.btn-light.mx-1(href="https://discord.gg/D6zkPWf575") Discord Support Server
							.col.justify-content-end.nav
								a.mx-1(href="/homepage")
									img(src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png")
					.col
			block precontent
