extends header.pug

block content
	body
		.main
		.container
			.row
				.col
				.col-8
					.row
						.col
						.col-11.content
							.row
								.col
								.col-11
									.row
										p.my-3 Terms of services go here.
									.row
										.col
										.col-11
											iframe(src="terms-of-service.txt")
										.col
								.col
						.col
				.col