body(contextmenu="context-menu")
	menu#context-menu(type="context" label="Right Click Menu")
		menu#menuitem1(label="Menu Item 1")
			menuitem#submenu1item1(label="Sub Item 1")
			menuitem#submenu1item2(label="Sub Item 2")
		menuitem#menuitem2(label="Menu Item 2")