doctype html
html
	head
		link(rel="stylesheet" href="/secondary.css")
		meta(charset="UTF-8")
		title=__(String(error))
	body
		center.error-page
			h1=__(String(error))
			a(href="/") Home
			br
			br
			a(href="https://http.cat")
				img.errimg(src="https://http.cat/" + error)
