@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
	--preferred-font: "Helvetica","Open Sans","Arial",sans-serif,monospace;
	--radial: radial-gradient(rgba(127,127,127,.4),rgba(255,255,255,.6));
	--border-color: 2px solid rgba(0,0,0,0);
	--border-color-hover: rgba(255,255,255,1);
}
body {
	background-color: #333333;
	color: white;
	font-family: var(--preferred-font);
	font-size: 10pt;
	height: 100vh;
}
.bookmark {
	border: var(--border-color);
	border-radius: 15px;
	width: 100pt;
	height: 100pt;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	font-size: 68pt;
	background-color: #222222;
}
.bookmark:hover {
	border-color: var(--border-color-hover);
	background-image: var(--radial);
}
.bookmark-no-icon {
	border: var(--border-color);
	border-radius: 15px;
	width: 100pt;
	height: 100pt;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	font-size: 68pt;
	background-color: #222222;
}
.bookmark-no-icon:hover {
	border-color: var(--border-color-hover);
	background-image: var(--radial);
}
.add-bookmark {
	border: var(--border-color);
	border-radius: 15px;
	width: 100pt;
	height: 100pt;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	background-color: #222222;
	font-size: 62pt;
}
.add-bookmark:hover {
	border-color: var(--border-color-hover);
	background-image: var(--radial);
}
.dummy-bookmark {
	height: 100pt;
}
.bookmark-text {
	text-align: center;
	width: 100pt;
	height: 50pt;
	overflow: hidden;
	margin: 0;
	word-wrap: break-word;
}
.icon {
	width: 100%;
	height: 100%;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
}
a:active {
	color: white;
	text-decoration: none;
}
.modal {
	color: black;
}
#color-sample {
	width: 100pt;
	height: 100pt;
	border: 1px solid rgb(206, 212, 218);
	border-radius: 15px;
	background-color: #222222;
	cursor: pointer;
	overflow: hidden;
}
#color-sample:hover {
	border-color: var(--border-color-hover);
	background-image: var(--radial);
	cursor: pointer;
}
#bookmarkremove {
	font-size: 76px;
	position: absolute;
	height: 100pt;
	width: 100pt;
	right: 0;
	bottom: 0;
	border: 1px solid black;
	background-color: #222222;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	border-radius: 15px;
	color: #ff4444;
	display: none;
}
#bookmark-icon-preview {
	width: 100pt;
	height: 100pt;
	text-align: center;
}
#color-picker {
	cursor: pointer;
	position: fixed;
	height: 100pt;
	width: 100pt;
	border: 0;
	border-radius: 15px;
}
#color-picker:hover ~ #color-sample {
	border-color: white;
	background-image: var(--radial);
	cursor: pointer;
}
#context-menu {
	background-color: #222222;
	position: absolute;
	display: none;
	border: 1px solid black;
}
.contextItem:hover {
	background-color: #0767BA;
	cursor: pointer;
	width: 100%;
}