@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
	--preferred-font: "Helvetica","Open Sans","Arial",sans-serif,monospace;
}
.main {
	background-image: linear-gradient(white,#002153);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	font-family: var(--preferred-font);
}
.header {
	background: #A0A0Af;
	border-radius: 0 0 10px 10px;
}
.content {
	background: white;
	color: black;
}
.title {
	color: white;
}
.code {
	border: 1px solid black;
}
a {
	color: black;
}
a.navlink {
	color: white;
}
p {
	font-size: 12pt;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 18pt;
}
h3 {
	font-size: 14pt;
}